*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex:1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}
.nav-form-btn{
    display: inline-block;
    margin: 10px;
}
.nav-button{
    background-color: transparent;
    border: none;
    outline: none;
    color:#555;
    font-size:17px;
}

a{
    text-decoration: none;
    color:#555;
}


p{
    color:#555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding:50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px;
}
.header{
    background: radial-gradient(#FFF, #F0C7BB);
}
.header .row{
    margin-top: 70px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    /*Change min width to 200*/
    min-width: 0px;
    margin-bottom: 50px ;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin:  auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title:after{
    content: '';
    background-color: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) translateY(-7px);
}

h4{
    color: #555;
    font-weight: normal;
}
.table-product tbody{
    display: flex;
    flex-wrap: wrap;
}
.product{
    display: block;
}

.table-product tr{
    flex-basis: 25%;
    text-align: center;
    display: table-cell;
    padding: 70px;
    font-size: 20px;
    color:#555;
    transition: 5s;
}

td img{
    width: 100%;
}

.table-product tr:hover{
    transform: transform translateY(-5px);
}

/*Icon Color*/
.rating .fa{
    color:#555;
}

.col-4 p{
    font-size: 14px;
}
.col-4:hover{
    transform:translateY(-5px);
}

.trained{
    max-width: 300px;
    margin:0px 0px 0px -115px;
    padding:30px;
    text-align: center;
    background-color: #353150;
    color: #fff;
    border-radius: 0px 20px 20px 0;
}
.untrained{
    margin:0px 0px 0px 00px;
    max-width: 270px;
    text-align: center;
    padding:30px;   
    background-color: #766892;
    color:#fff;
    border-radius: 20px 0 0 20px;

}

a.add-cart{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:20px 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}
a.add-cart:hover{
    color:#000000;
    background-color:#FFFFFF;
}

@media all and (max-width:30em){
a.add-cart{
    display:block;
    margin:0.4em auto;
    }
}