<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../static/css/style.css"/>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img th:src="@{/images/logo.png}" alt="LOGO" width="125px"/>
            </div>
            <nav>
                <ul>
                    <form class="nav-form-btn" action="/" method="GET">
                        <button class="nav-button" >Home</button>
                    </form>

                    <form class="nav-form-btn" action="/loginpage" method="Get">
                        <button class="nav-button" >Login</button>
                    </form>

                    <form class="nav-form-btn">
                        <a th:href="@{/cart}"><img th:src="@{/images/cart.png}" width=25px height=25px alt="Cart_icon"></a>
                    </form>
                </ul>
            </nav>
            
        </div>
        <div class="row">
            <div class="col-2">
                <h1>Get the AI Model <br>For You!</h1>
                <p>Text about the ai models and the shop. Have to figure out what to<br> put here. The text needs to be atleast this long.</p>
            </div>
            <div class="col-2">
                <img th:src="@{/images/image1.png}" alt="Main_IMAGE">
            </div>
        </div>
    </div>
</div>

<!------ Products Thymeleaf------>
 <!-- <td><a action="/view/{id}" method="GET" th:href="@{/view/{id}(id=${location.id})}">VIEW ID</a></td> -->

<div class="products">
    <div class="small-container">
        <h2 class="title">PRODUCTS</h2>
        <table class="table-product">
            <tr th:each="product:${products}">
                <td class="product"><img th:src="@{/images/{source}(source=${product.imgSrc})}" alt="Nothing"></td>
                Product Name:<td class="product" th:text="${product.name}"></td>
                Rating:<td class="product" th:text="${product.rating}"></td>
                <td><a action="/productview/{id}" method="GET" th:href="@{/productview/{id}(id=${product.id})}" >View ID</a></td>
               
            </tr>
        </table>
    </div>
</div>


</body>
</html>